{{ define "main" }}
	<div class="row flex-xl-nowrap book-container">
		<div class="col-lg-5 col-xl-4 book-sidebar">
			<nav class="book-links" aria-label="Main navigation">
				{{ partial "sidebar/book-menu.html" . }}
			</nav>        
		</div>
		{{ if ne .Params.toc false -}}
		<nav class="book-toc d-none d-xl-block col-xl-3" aria-label="Secondary navigation">
			{{ partial "sidebar/book-toc.html" . }}
		</nav>
		{{ end -}}
		{{ if .Params.toc -}}
		<main class="book-content col-lg-11 col-xl-9">
		{{ else -}}
		<main class="book-content col-lg-11 col-xl-9 mx-xl-auto">
		{{ end -}}
			<h1>{{ .Title }}</h1>
			<p class="lead">{{ .Params.lead | safeHTML }}</p>
			{{ partial "main/headline-hash.html" .Content }}
			{{ if .Site.Params.editPage -}}
				{{ partial "main/edit-page.html" . }}
			{{ end -}}
			{{ partial "main/book-navigation.html" . }}
		</main>
	</div>
{{ end }}