.footer {
  border-top: 1px solid $gray-200;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  font-size: $font-size-sm;
  text-align: center;
  p {
    margin: auto;
  }
}

@include media-breakpoint-up(md) {
  .footer {
    font-size: $font-size-base;
  }
}
