.feature,
.hello-show {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.hello-show {
  padding-bottom: 3rem;
  flex-direction: column;

  .container {
    max-width: 1400px;
    text-align: center;
  }
}

.code-trans {
  display: flex;
  padding-bottom: 3rem;
  justify-content: space-between;
  align-items: center;
}

.code-window {
  width: 50%;
}

.trans-arrow {
  color: #74818d;
  font-size: 2.2em;
}

.browser-window {
  width: 32%;
  color: #242a31;

  section {
    background: #fff;
    padding: 8px;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    min-height: 150px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}

.link-buttons {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.feature {
  padding-top: 3rem;
  padding-bottom: 3rem;

  .code-window,
  .intro {
    width: 57%;
  }

  .intro {
    width: 40%;
  }
}

.reverse {
  background: #f5f7f9;
  border-top: 1px solid #e6ecf1;
  border-bottom: 1px solid #e6ecf1;

  .intro {
    order: 2;
  }

  .code-window {
    order: 1;
  }
}

@media only screen and (max-width: 960px) {
  .trans-arrow {
    transform: rotate(90deg);
    margin-top: 2rem;
  }

  .feature,
  .hello-show,
  .code-trans {
    display: block;

    .code-window,
    .trans-arrow,
    .browser-window,
    .intro {
      width: 100%;
    }
  }
}